In [1]:
import pandas as pd

In [2]:
keralaStory = pd.read_csv('complete.csv',index_col = 0)

In [3]:
keralaStory.head(5)

,Datetime,Tweet Id,Text,Username,retweetCount,likeCount,quoteCount,coordinates,mentionedUsers,retweetedTweet,hashtags,viewCount,TweetID
Source.Name,,,,,,,,,,,,,
April25.csv,25/04/2023 19:24,1.650000e+18,#TheKerlaStory,SArDArDCPATEL,0,4,0,NaN,NaN,NaN,['TheKerlaStory'],191.0,1.650000e+18
April26.csv,26/04/2023 19:19,1.650000e+18,Just Watched The Trailer of #Thekerlastory üò¨\n...,HaqSeReview,9,41,0,NaN,"[User(username='adah_sharma', id=295714480, di...",NaN,['Thekerlastory'],1972.0,1.650000e+18
April26.csv,26/04/2023 19:14,1.650000e+18,@Starboy2079 #mustwatcgthekerlastory #Thekerla...,Saurabh317m,0,0,0,NaN,"[User(username='Starboy2079', id=1515651214200...",NaN,"['mustwatcgthekerlastory', 'Thekerlastory']",1270.0,1.650000e+18
April26.csv,26/04/2023 19:11,1.650000e+18,#Thekerlastory üëçüèªüëçüèªü©∑ü©∑,AryanSh31941116,0,0,0,NaN,NaN,NaN,['Thekerlastory'],105.0,1.650000e+18
April26.csv,26/04/2023 18:19,1.650000e+18,#TheKerlaStory @ARanganathan72\nhttps://t.co/5...,Rabindra_Sun,0,0,0,NaN,"[User(username='ARanganathan72', id=1344897174...",NaN,['TheKerlaStory'],167.0,1.650000e+18

In [4]:
grp = keralaStory.groupby('Username').size().sort_values(ascending=False)

In [5]:
grp.head(100)

Username
StanTweets7        160
MahakAajkal         73
dushyantindia02     70
parmeshwar988       64
addatoday           57
                  ...
VaddepallyPrav       7
Ujjawal_Rai_         7
vikasdelhi100        7
UjjavalH             7
Vivek_000999         7
Length: 100, dtype: int64

In [6]:
type(grp)

pandas.core.series.Series

In [5]:
posts = grp.to_frame()

In [7]:
posts.head(5)

                   0
Username
StanTweets7      160
MahakAajkal       73
dushyantindia02   70
parmeshwar988     64
addatoday         57

In [6]:
posts = posts.rename(columns={0: "posts_per_user"})

In [9]:
posts.head(5)

                 posts_per_user
Username
StanTweets7                 160
MahakAajkal                  73
dushyantindia02              70
parmeshwar988                64
addatoday                    57

In [7]:
average_posts_per_user = posts["posts_per_user"].mean()

In [8]:
print(average_posts_per_user)

1.5341917739717466

In [9]:
trend_in_may = keralaStory[keralaStory.index.isin(['May08.csv','May09.csv','May10.csv'])]

In [10]:
posts_per_account_may = trend_in_may.groupby('Username').size().sort_values(ascending=False).to_frame()

In [11]:
posts_per_account_may = posts_per_account_may.rename(columns={0: "posts_per_user"})
average_posts_per_user_may = posts_per_account_may["posts_per_user"].mean()

In [14]:
print(average_posts_per_user_may)

1.4732726982607307

In [31]:
retweets = keralaStory['retweetCount'].sum()

In [17]:
print(retweets)

78998

In [13]:
retweets_in_may = trend_in_may['retweetCount'].sum()

In [67]:
print(retweets_in_may_proportion)

1078.745811393011

In [16]:
print(posts_per_account_may.shape[0])

6267

In [17]:
print(retweets_in_may)

67605

In [19]:
keralaStory.shape[0]

12272

In [33]:
retweets = (retweets/keralaStory.shape[0])*100

In [34]:
print(retweets)

643.7255541069101

In [22]:
retweets_in_may_proportion = (retweets_in_may/posts_per_account_may.size)*100

In [23]:
print(posts_per_account_may.size)
print(retweets_in_may_proportion)

6267
1078.745811393011

In [24]:
top50 = posts.head(50)

In [25]:
top50May = posts_per_account_may.head(50)

In [36]:
top50_post_proportion = (top50['posts_per_user'].sum()/keralaStory.shape[0])*100

In [37]:
print(top50_post_proportion)

8.547913950456323

In [31]:
top50May.head(5)

                 posts_per_user
Username
StanTweets7                  72
parmeshwar988                64
PK004321                     35
Arif51188130                 22
News1IndiaTweet              20

In [40]:
top50_post_proportionMay = (top50May['posts_per_user'].sum()/trend_in_may.shape[0])*100

In [41]:
print(top50_post_proportion)

8.547913950456323

In [42]:
print(top50_post_proportionMay)

7.798115455431604

In [28]:
R = retweets/10

In [35]:
print(R)

64.372555410691

In [38]:
ctm = average_posts_per_user + R + top50_post_proportion

In [37]:
print(average_posts_per_user)

1.5341917739717466

In [39]:
print(ctm)

74.45466113511907

In [61]:
print(average_posts_per_user_may)

1.4732726982607307

In [38]:
R_in_May = retweets_in_may_proportion/10

In [39]:
ctm_may = R_in_May + average_posts_per_user_may + top50_post_proportionMay

In [40]:
print(ctm_may)

109.94770887259504