In [1]:
import pandas as pd

In [2]:
predictions = pd.read_csv('predictions.csv')

In [3]:
predictions.head()

   Unnamed: 0  Labels
0           0       2
1           1       0
2           2       2
3           3       0
4           4       3

In [9]:
label_count = predictions.groupby('Labels').count()

In [10]:
label_count.head()

        Unnamed: 0
Labels
0             9351
1              311
2             1800
3              810