In [1]:
!pip install git+https://github.com/JustAnotherArchivist/snscrape.git

Collecting git+https://github.com/JustAnotherArchivist/snscrape.git
  Cloning https://github.com/JustAnotherArchivist/snscrape.git to c:\users\lip22mpa\appdata\local\temp\pip-req-build-uy7i1sv3
  Resolved https://github.com/JustAnotherArchivist/snscrape.git to commit c3b216c3cb8593513a018eb3ec4fd6f18d3aba5b
  Installing build dependencies: started
  Installing build dependencies: finished with status 'done'
  Getting requirements to build wheel: started
  Getting requirements to build wheel: finished with status 'done'
  Installing backend dependencies: started
  Installing backend dependencies: finished with status 'done'
    Preparing wheel metadata: started
    Preparing wheel metadata: finished with status 'done'
Requirement already satisfied: beautifulsoup4 in c:\anaconda\lib\site-packages (from snscrape==0.6.2.20230321.dev39+gc3b216c) (4.11.1)
Requirement already satisfied: lxml in c:\anaconda\lib\site-packages (from snscrape==0.6.2.20230321.dev39+gc3b216c) (4.8.0)
Requirement already satisfied: filelock in c:\anaconda\lib\site-packages (from snscrape==0.6.2.20230321.dev39+gc3b216c) (3.6.0)
Requirement already satisfied: requests[socks] in c:\anaconda\lib\site-packages (from snscrape==0.6.2.20230321.dev39+gc3b216c) (2.27.1)
Requirement already satisfied: soupsieve>1.2 in c:\anaconda\lib\site-packages (from beautifulsoup4->snscrape==0.6.2.20230321.dev39+gc3b216c) (2.3.1)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in c:\anaconda\lib\site-packages (from requests[socks]->snscrape==0.6.2.20230321.dev39+gc3b216c) (1.26.9)
Requirement already satisfied: idna<4,>=2.5 in c:\anaconda\lib\site-packages (from requests[socks]->snscrape==0.6.2.20230321.dev39+gc3b216c) (3.3)
Requirement already satisfied: charset-normalizer~=2.0.0 in c:\anaconda\lib\site-packages (from requests[socks]->snscrape==0.6.2.20230321.dev39+gc3b216c) (2.0.4)
Requirement already satisfied: certifi>=2017.4.17 in c:\anaconda\lib\site-packages (from requests[socks]->snscrape==0.6.2.20230321.dev39+gc3b216c) (2021.10.8)
Requirement already satisfied: PySocks!=1.5.7,>=1.5.6 in c:\anaconda\lib\site-packages (from requests[socks]->snscrape==0.6.2.20230321.dev39+gc3b216c) (1.7.1)

  Running command git clone -q https://github.com/JustAnotherArchivist/snscrape.git 'C:\Users\lip22mpa\AppData\Local\Temp\pip-req-build-uy7i1sv3'

In [1]:
import snscrape.modules.twitter as sntwitter
import pandas as pd

In [14]:
def tweets(username,since,upto,maxtweets):
    maxTweets = maxtweets
    tweets_list = []

# Using TwitterSearchScraper to scrape data and append tweets to list
    for i,tweet in enumerate(sntwitter.TwitterSearchScraper('from:{0} since:{1} until:{2}'.format(username,since,upto)).get_items()):
        if i>maxTweets:
            break
        tweets_list.append([tweet.date, tweet.id, tweet.rawContent, tweet.user.username])
    tweets_df = pd.DataFrame(tweets_list, columns=['Datetime', 'Tweet Id', 'Text', 'Username'])
    tweets_df.to_csv('{0}.csv'.format(username), sep=',', index=False)
    return tweets_df

In [17]:
#tweets('TimesNow','2023-05-01','2023-05-31',10000)

Could not translate t.co card URL on tweet 1659815897182134272
Could not translate t.co card URL on tweet 1657237866442027008

,Datetime,Tweet Id,Text,Username
0,2023-05-30 23:30:00+00:00,1663689244278226945,"Trees Uprooted in #Bengaluru as Heavy Rains, G...",TimesNow
1,2023-05-30 23:00:00+00:00,1663681695139151875,United World Wrestling Condemns Detention Of I...,TimesNow
2,2023-05-30 22:30:01+00:00,1663674147908751362,#Mumbai: Fire breaks out on 15th floor of buil...,TimesNow
3,2023-05-30 22:00:00+00:00,1663666596798246912,Very Shameful For The Country...': #Congress L...,TimesNow
4,2023-05-30 21:30:00+00:00,1663659045490925568,Bollywood Speak Up! Twitterati Bash Priyanka C...,TimesNow
...,...,...,...,...
9996,2023-05-01 07:45:00+00:00,1652942178791067651,#Delhi Shocker: Man drives for 3 Km with a per...,TimesNow
9997,2023-05-01 07:43:01+00:00,1652941680796999680,"After #Congress President #MallikarjunKharge, ...",TimesNow
9998,2023-05-01 07:40:00+00:00,1652940920407601153,#RomanSaini: From cracking MBBS at 16 to ownin...,TimesNow
9999,2023-05-01 07:36:15+00:00,1652939979767656451,"""Like father, like son. Congress only abuses t...",TimesNow
10000,2023-05-01 07:35:00+00:00,1652939662137126914,Video of tigress and cubs crossing road at nig...,TimesNow